/*----------------------------------
Banner
----------------------------------*/
.banner .overlay {
    background-color: rgba(4, 9, 30, 0.5);
    width: 100%;
    height: 650px;
    position: relative;
}
.banner{
    position: relative;
    top: -20px;
    z-index: 0;
}
.banner-main .owl-dots {
    position: relative;
    top: -350px;
    right: -30%;
    transform: rotate(90deg);
}
.banner-main .owl-dots .owl-dot span {
    background-color: #fff;
    border: 3px solid transparent;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    transition: 0.3s ease-in-out;
    margin: 5px;
}

.banner-main .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: transparent;
    border-color: #fff;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.banner-main .owl-nav [class*=owl-] {
    margin: 0;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    color: #fff;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: var(--main-color);
}

.banner-caption {
    padding: 220px 0;
    color: #fff;
    text-align: center;
}

.banner-caption h4 {
    font-size: 2.5rem;
    font-family: var(--main-font);
    font-weight: bold;
}

.banner-caption p {
    font-size: 2.125rem;
    font-family: var(--main-font);
    font-weight: 600;
    margin-top: 20px;
    color: #fff;
    font-style: italic;
}
.h-banner{
    height: 700px;
}
/*----------------------------------
Banner
----------------------------------*/
/*----------------------------------
home-program
----------------------------------*/
.home-program{
    position: relative;
    top: -200px;
}
.box-program{
    border-top: 10px solid var(--main-color);
    padding: 45px 0;
    background-color: #fff;
    box-shadow: 5px 5px 30px 0px rgba(123, 123, 123, 0.3);
}
.home-program .title-program{
    font-family: var(--main-font);
    font-size: 2.375rem;
    color: #fff;
    font-weight: 700;
    position: relative;
    top: 22px;
    left: -2px;
    text-transform: uppercase;
}
.item-pr{
    display: flex;
    margin: 0 50px;
}
.item-pr img{
    height: 50px;
    width: auto;
    display: inline-block;
    margin-right: 10px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.item-pr:hover img{
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
}
.txt-pr h4{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--main-color);
}
.txt-pr p{
    font-family: var(--main-font);
    font-size: 1.125rem;
    font-weight: 500;
}
.item-pr:hover{
    color: var(--main-color);
}
.b-right{
    border-right: 1px solid #dfdfdf;
}
/*----------------------------------
Home-news
----------------------------------*/
.home-news{
    margin-top: -150px;
}
.home-news .home-title{
    font-weight: bold;
    font-family: var(--main-font);
    font-size: 1.875rem;
    color: #000;
}
.home-news .home-title::after{
    content: "";
    width: 100px;
    height: 1px;
    display: inline-block;
    background-color: var(--main-color);
    margin-left: 20px;
}
.home-title{
    display: inline-block;
}
.home-title:hover,.home-title:focus{
    color: var(--main-color);
}
.home-news-lg{
    display: block;
    margin-top: 20px;
}
.home-n-lg-img{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    display: block;
}
.home-n-lg-img .img-ct{
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.home-news-lg:hover .img-ct,
.home-news-lg:focus .img-ct{
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.home-n-lg-infor {
    margin: 0 15px 0 15px;
    padding: 15px;
    background-color: #fff;
    position: relative;
    color: #000;
    top: -35px;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.03);
    box-shadow: 0 10px 20px rgba(0,0,0,.03);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.home-news-lg:hover:hover .home-n-lg-infor, 
.home-news-lg:hover:focus .home-n-lg-infor{
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.09);
    box-shadow: 0 10px 20px rgba(0,0,0,.09);
}
.home-n-lg-infor .infor-title{
    font-size: 1rem;
    font-family: var(--main-font);
    text-align: left;
    max-height: 50px; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 600;
}
.home-news-lg:hover .infor-title,
.home-news-lg:focus .infor-title{
    color: var(--main-color);
}
.home-n-lg-infor .infor-date{
    color: #747c8f;
    font-size: 0.8125rem;
    margin-bottom: 5px;

}
.home-n-lg-infor .infor-des{
    color: #747c8f;
    margin-top: 10px;
    line-height: 20px;
    max-height: 57px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.home-news-sm{
    margin-bottom: 30px;
}

.home-n-sm-img{
    width: 100%;
    height: 80px;
    display: block;
    position: relative;
    overflow: hidden;
}
.home-n-sm-img .img-ct{
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.home-n-sm-wrapper:hover .img-ct,
.home-n-sm-wrapper:focus .img-ct{
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.home-n-sm-infor{
    padding: 5px 0;
    display: block;
}
.home-news-sm .p-15{
    padding-left: 0px;
}
.home-n-sm-infor .infor-title{
    font-size: 0.875rem;
    font-family: var(--main-font);
    text-align: left;
    max-height: 47px; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 5px;
}
.home-n-sm-infor:hover .infor-title{
    color: var(--main-color);
}
.home-n-sm-infor .infor-date{
    color: #747c8f;
    font-size: 13px;
}
.box-home-news::after{
    content: '';
    width: 50%;
    height: 1px;
    background-color: #dfdfdf;
    display: block;
    margin: 50px auto;
    position: relative;
}
.space img{
    position: relative;
    top: -80px;
}
.home-message .message-header h3{
    color: #000;
    font-size: 1.5rem;
    font-family: var(--main-font);
    font-weight: bold;
    margin-bottom: 30px;
}
.home-message .message-header h3::before{
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 5px;
    height: 19px;
    background-color: var(--main-color);
}

.message-items  .message-ct{
    font-size: 1rem;
    font-family: var(--main-font);
    font-weight: 500;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.message-items .message-ct i{
    color: var(--main-color);
    font-size: 13px;
    display: inline-block;
    margin-right: 10px;
}
.message-items  .message-ct:hover{
    color: var(--main-color);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.home-message .message-items{
    padding: 20px 20px;
    border: 1px solid #dfdfdf;
    border-bottom: none;
}
.home-message .message-items:last-child{
    border-bottom: 1px solid #dfdfdf;
}
.message-face{
    margin-bottom: 30px;
}
.message-items-web{
    display: flex;
}
.home-message .message-items-web{
    padding: 10px 20px;
    border: 1px solid #dfdfdf;
    border-bottom: none;
}
.home-message .message-items-web:last-child{
    border-bottom: 1px solid #dfdfdf;
}
.message-items-web  .message-ct{
    font-size: 1rem;
    font-family: var(--main-font);
    font-weight: 500;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 5px;
}
.message-items-web  .message-link{
    font-size: 1rem;
    font-family: var(--main-font);
    color: var(--main-color);
    font-weight: 500;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 5px;
}
.message-items-web i{
    color: var(--main-color);
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    position: relative;
    top: 5px;
}
.message-items-web:hover .message-ct{
    color: var(--main-color);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.home-infor{
    margin-top: -58px;
}
.home-infor-i{
    margin-bottom: 20px;
}
.home-infor-i img{
    height: auto;
    width: 45px;
    display: inline-block;
}
.s{
    background-color: #dfdfdf;
    height: 50px;
    width: 1px;
    display: inline-block;
    margin-left: 20px;
}
.home-infor-i p{
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 1.25rem;
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}

#mess1 .message-items{ 
    display:none;
}
#mess2 li{ 
    display:none;
}
#show-more,#show-more1 {
    padding: 20px 20px;
    border: 1px solid #dfdfdf;
    cursor: pointer;
    display: block;
    font-family: var(--main-font);
    color: var(--main-color);
    font-weight: bold;
}

#show-less,#show-less1 {
    padding: 20px 20px;
    border: 1px solid #dfdfdf;
    border-top: 0;
    cursor: pointer;
    display: none;
    font-family: var(--main-font);
    color: var(--main-color);
    font-weight: bold;
}

/*----------------------------------
feedback
----------------------------------*/
.feedback{
    height: 530px;
    padding: 60px 0 ;
    background-attachment: fixed !important;
    overflow: hidden;
    margin-top: -5px;
}
.fb-title{
    color: #fff;
    margin-bottom: 50px;
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 1.875rem;
}
.fb-title::after{
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #fff;
    margin: 15px auto;
}
.feedback-obj{
    display: flex;
}
.fb-avatar-img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
    top: 55px;
    display: block;
    overflow: hidden;
}
.fb-avatar-img-ct{
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-size: cover;
    background-position: center;
}
.fb-content{
    margin-left: 20px;
}
.fb-content i{
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 20px;
}
.fb-txt{
    color: #fff;
    line-height: 22px;
    font-family: var(--main-font);
    font-size: 0.875rem;
    margin-bottom: 25px;
    max-height: 110px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
}
.fb-user{
    color: #fff;
    font-family: var(--main-font);
    font-size: 1rem;
    margin-bottom: 5px;
}
.fb-job{
    color: #fff;
    font-size: 1rem;
    font-style: italic;
}
.feedback-content .owl-dots .owl-dot{
    margin-top: 30px;
}
.feedback-content .owl-dots .owl-dot span {
    background-color: #fff;
    border: 3px solid transparent;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    transition: 0.3s ease-in-out;
    margin: 5px;
}

.feedback-content .owl-dots .owl-dot.active span,
.feedback-content .owl-dots .owl-dot:hover span {
    background-color: transparent;
    border-color: #fff;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.feedback-content .owl-nav [class*=owl-] {
    margin: 0;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    color: #fff;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
/*----------------------------------
activities
----------------------------------*/
.ac-title{
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 1.875rem;
    margin-bottom: 20px;
}
.ac-title::after{
    content: "";
    width: 100px;
    height: 1px;
    display: inline-block;
    background-color: var(--main-color);
    margin-left: 20px;
}
.ac-subtitle{
    font-family: var(--main-font);
    font-size: 1.125rem;
    margin-bottom: 5px;
    font-weight: 600;
}
.ac-subtitle i{
    font-size: 1rem;
    color: var(--main-color);
    display: inline-block;
    margin-right: 10px;
}
.activities-content p{
    line-height: 22px;
    text-align: justify;
}
.home-activities{
     margin-top: 50px;
    margin-bottom: 45px;
}
.activities-items{
    margin-bottom: 10px;
}
.home-activities img{
    width: 100%;
    height: auto;
    position: relative;
    bottom: -80px;
}
@media (max-width: 1200px) {
    .item-pr .txt-pr h4{
    font-size: 1rem;
      }
      .item-pr .txt-pr p{
        font-size: 1rem;
      }
      .box-program .item-pr img{
        height: 40px;
      }
    .home-infor-i p{
        font-size: 1rem;
    }
}
@media (max-width: 991px) {
    .h-banner{
        height: 500px;
    }
    .banner-caption{
        padding: 180px 0;
    }
    .banner-caption p,.banner-caption h4{
        font-size: 1.75rem;
    }
    .item-pr{
        margin: 0 20px;
    }
    .home-news .home-title{
        margin-top: 30px;
    }
    .home-infor{
        margin-bottom: 30px;
    }
    .feedback{
        height: 400px;
        padding: 30px 0;
    }
    .home-activities img {
        display: none;
    }
    .banner-main .owl-dots{
        top: -280px;
    }
}
@media (max-width: 768px) {
    .b-right{
        border-right: none;
    }
    .item-pr{
        margin-bottom: 20px;
    }
    .box-program{
        padding: 25px 0;
    }
    .home-n-lg-img{
        height: 170px;
    }
    .home-infor-img{
        display: none;
    }
    .home-infor-i{
        margin-left: 30%;
    }
}
@media (max-width: 575px) {
    .h-banner{
        height: 300px;
    }
    .banner-caption{
        display: none;
    }
    .banner-main .owl-dots{
        display: none;
    }
    .home-program .title-program{
        font-size: 1.75rem;
        left: -1px;
    }
    .home-news .home-title,
    .home-message .message-header h3,
    .ac-title{
        font-size: 1.25rem;
    }
    .home-infor-i{
        margin-left: 20%;
    }
    .feedback{
        display: none;
    }
    .home-infor{
        margin-bottom: 0;
    }
}