/*----------------------------------
page-simple
----------------------------------*/
.p-simple-title{
	font-size: 2rem;
	font-family: var(--main-font);
	font-weight: bold;
}
.p-simple-title::after{
	content: "";
	width: 100px;
	height: 2px;
	background-color: var(--main-color);
	display: block;
	margin: 10px auto;
}
.p-simple-des{
	line-height: 22px;
	margin: 20px 0 30px;
}

/*----------------------------------
staff
----------------------------------*/
.staff-content{
	padding-bottom: 40px;
}
.staff-infor{
	margin-bottom: 80px;
	display: block;
}
.staff-avatar{
	width: 70%;
	height: auto;
	display: block;
	position: relative;
	overflow: hidden;
}
.staff-avatar-img{
	width: 90%;
    height: 200px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
}
.staff-infor:hover .staff-avatar-img{

}
.staff-infor-ct{
	background-color: var(--main-color);
	padding: 10px 15px;
	color: #fff;
	position: absolute;
	bottom: 40px;
	left: 30px;
}
.staff-name{
	font-size: 1rem;
	font-family: var(--main-font);
}
.staff-job{
	font-size: 0.875rem;
	font-style: italic;	
}

/*----------------------------------
staff-detail
----------------------------------*/
.detail-avatar{
	width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    display: block;
}
.detail-avatar-img{
	width: 100%;
    height: 100%;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.detail-infor-box{
	border-top: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf; 
	padding: 30px;
	border-bottom: 15px solid var(--main-color);
}
.detail-infor-box h4{
	font-size: 1.25rem;
	font-weight: bold;
	font-family: var(--main-font);
	margin-bottom: 30px;
}
.detail-infor-box h4::before{
	content: "";
	background-color: var(--main-color);
	width: 5px;
	height: 17px;
	display: inline-block;
	margin-right: 10px;
}

.de-infor-items{
	display: flex;
	margin-bottom: 20px;
}
.de-infor-items i{
	color: var(--main-color);
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: 5px
}
.de-infor-items-title{
	font-family: var(--main-font);
	font-weight: 600;
	margin-bottom: 8px;
	font-size: 1.125rem;
}
.de-infor-items-des{
	font-size: 0.875rem;
}
.detail-box{
	margin-bottom: 50px;
}
.detail-related .p-simple-title{
	margin-bottom: 40px;
}

.nav-tabs{
	background-color: #ebedf0;
	border-bottom: none;
}
.nav-tabs .nav-link{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: none;
}
.nav-link{
	padding: 0.9rem 1rem;
	font-size: 1rem;
	font-weight: bold;
	font-family: var(--sub-font);
}
.nav-link:hover{
	color: var(--main-color);
	border-color: transparent;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	background-color: var(--main-color);
	color: #fff;
	border-color: transparent;
}
.tab-content>.active{
	padding: 30px;
	border: 1px solid #ebedf0;
}
.tab-content>.active p{
	line-height: 24px;
	text-align: justify;
}
.detail-nav{
	margin-bottom: 40px;
}
@media (max-width: 991px){
	.detail-avatar{
		height: 300px;
	}
}
@media (max-width: 575px){
	.nav-link{
		font-size: 0.75rem;
	}
}

.staff-related .owl-dots .owl-dot span {
    background-color: var(--main-color);
    border: 3px solid transparent;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    transition: 0.3s ease-in-out;
    margin: 5px;
}

.staff-related .owl-dots .owl-dot.active span,
.staff-related .owl-dots .owl-dot:hover span {
    background-color: transparent;
    border-color: var(--main-color);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.staff-related .owl-nav [class*=owl-] {
    margin: 0;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    color: #fff;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.staff-related .owl-nav [class*=owl-]:hover {
    background-color: var(--main-color);
}
