/*----------------------------------
program
----------------------------------*/
.sub-page{
	margin-top: -30px;
}
.title-subpage-sidebar p{
	font-style: italic;
	font-size: 1.25rem;
	font-family: var(--main-font);
	line-height: 22px;
	font-weight: 600;
}
.title-subpage-sidebar p::after{
	content: '';
	width: 50px;
	height: 2px;
	background-color: var(--main-color);
	display: block;
	margin: 10px 0;
}
.title-subpage-sidebar p span{
	font-size: 1.625rem;
	font-weight: bold;
	font-style: normal;
}
.subpage-content-title{
	font-size: 1.625rem;
	font-weight: bold;
	margin-bottom: 20px;
	font-family: var(--main-font);
}
.subpage-content-title::before{
	content: "";
	width: 5px;
	height: 20px;
	background-color: var(--main-color);
	display: inline-block;
	margin-right: 8px;
}

/*----------------------------------
hotel & Restaurant
----------------------------------*/
.meet-des{
	margin-bottom: 50px;
}
.meet-des p{
	line-height: 22px;
	margin-bottom: 7px;
	text-align: justify;
	font-weight: 500;
}
.sibebar-nav i{
	color: var(--main-color);
	font-size: 0.875rem;
	display: inline-block;
	margin-right: 10px;
}
.sibebar-nav li a{
	font-family: var(--main-font);
	font-weight: 600;
	font-size: 1rem;
	padding: 0.75rem 0;
	border-bottom: 1px solid #dfdfdf;
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.sibebar-nav li a:hover,
.sibebar-nav li a:focus,
.sibebar-nav li a.active{
	color: var(--main-color);
	font-style: italic;
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.sibebar-nav li:last-child a{
	border-bottom: none;
}